<!doctype html>
<html>
<head>
    <title>Sign up</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body {
            background-image:url(/images/bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            padding-top:80px;
        }
        .whiteText {
            color: white;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1 class="whiteText"><span class="fa fa-sign-up"></span><%= signUpLink %></h1>

        <!-- show any messages that come back with authentication -->
        <% if (message && message.length > 0) { %>
            <div id="errorDiv" class="alert alert-danger"><%= message %></div>
        <% } %>

        <form action="/sign_up/submit?language=<%= language %>" method="post" data-toggle="validator">
            <div class="form-group">
                <label class="whiteText"><%= firstNameLabel %></label>
                <input type="text" class="form-control" name="firstName" value="<%= firstName %>">
            </div>
            <div class="form-group">
                <label class="whiteText"><%= lastNameLabel %></label>
                <input type="text" class="form-control" name="lastName" value="<%= lastName %>">
            </div>
            <div class="form-group">
                <label class="whiteText"><%= phoneLabel %></label>
                <input type="text" class="form-control" name="phoneNumber" value="<%= phoneNumber %>">
            </div>
            <div class="form-group">
                <label class="whiteText"><%= emailLabel %></label>
                <input type="text" class="form-control" name="email" value="<%= email %>" required>
            </div>
            <div class="form-group">
                <label class="whiteText"><%= passwordLabel %></label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <div class="form-group">
                <label class="whiteText"><%= rePasswordLabel %></label>
                <input type="password" class="form-control" name="confirmed_password" required>
            </div>

            <input type="hidden" name="language" value="<%= language %>">
            <button type="submit" onclick="document.getElementById('errorDiv').style='display:none'" class="btn btn-lg btn-primary center-block btn-login"><%= signUpLink %></button>
        </form>

    </div>

</div>
</body>
</html>